.search-page {
    margin-top: 20px;
}

.search-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-container select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}