.container {
    margin-top: 20px;
    max-width: 1200px;
    padding: 20px;
}

button {
    padding: 12px 24px;
    background-color: #03798e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #03798e;
    color: white;
}